#Container {
    padding: 11.5rem 0px !important;
}
#Titulo {
    letter-spacing: -1rem;
    font-size: 10rem !important;
    font-weight: 800;
}
#Legend {
    position: relative;
    letter-spacing: .3rem;
    right: 10.8rem;
    top: 1.6rem;
    font-weight: 500;
}
#Arrow {
    position: relative;
    animation: mymove .8s infinite;
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 30px;}
  }